.intro {
  margin: 0 auto;
  max-width: 984px; /* ancho del bloque en desktop (igual que lead) */
  padding: 0 0 92px;
}

.intro__title {
  margin: 0 0 40px;
  max-width: 830px;
  font-size: 54px;
  line-height: 1.1;
  font-weight: 900;
}

.intro__quote {
  margin: 0 0 10px;
  max-width: 720px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}

.intro__quote-author {
  margin: 0 0 32px;
  max-width: 720px;
  text-align: right;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 400;
}

.intro__text {
  margin: 0;
  max-width: 720px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  opacity: 0.85;
}
