.intro {
  padding: 64px 0;
}

.intro__title {
  margin: 0 0 16px;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
}

.intro__text {
  margin: 0;
  max-width: 720px;
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.85;
}
