.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.lead__title {
  margin: 0 auto 32px;
  max-width: 720px;
  font-size: 96px;
  line-height: 1;
  font-weight: 900;
}

.lead__subtitle {
  margin: 0 auto 64px;
  max-width: 720px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  opacity: 0.9;
}

.lead__figure {
  margin: 0;
  width: 100%;
  max-width: 984px; /* desktop: imagen centrada */
}

.lead__image {
  width: 100%;
  display: block;
  object-fit: cover;
}