.page {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page__content {
  max-width: 984px;
  margin: 0 auto;
  padding: 0;
}

.page__section {
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px;
}